.add-form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    /* gap: 2rem; */
    width: 100%;
    background-color: transparent;
    /* border: 1px solid rgba(0, 0, 0, 0.12); */
    /* border-radius: 0.5rem; */
    /* box-shadow: 0 0 8px 0 rgb(0 0 0 / 8%), 0 0 15px 0 rgb(0 0 0 / 2%), 0 0 20px 4px rgb(0 0 0 / 6%); */
}

.error-message {
    color: rgb(255, 0, 0);
    padding-bottom: 0.8em;
}