.result-item {
    border: 1px solid white;
    padding: 1em;
    display: flex;
    flex-direction:column;
    align-items: end;
    width: 80%;
    margin: 0 auto 2em auto;
    font-size: 1.2rem;
    color: white;
}

.loading-item {
    border: 1px solid white;
    padding: 1em;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 80%;
    margin: 0 auto 2em auto;
    font-size: 1.2rem;
    color: white;
}



.result-item span {
    font-size: 0.85rem;
    margin-right: 1rem;
    color: rgb(187, 174, 174);
}

.result-item div {
    margin-bottom: 0.8rem;
}