.search-bar-container {
    width: 80%;
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.search-bar-container p {
    font-size: larger;
    text-transform: uppercase;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.search-bar-container * {
    margin-right: 3em;
}


.search-bar-input {
    height: 2.5em;
    font-size: medium;
}
